<section>
    <h2 class="info__projets--mobile">{{data.texts.randomText.projects}}</h2>
    <span class="info__annee">{{currentProject.year}}</span>
    <div class="container">
        <drag-scroll (indexChanged)="onProjectChange($event)" scrollbar-hidden="true" class="scrolling-wrapper">
            <div drag-scroll-item class="card projet" *ngFor="let project of data.projects">
                <a routerLink="/detail/{{project.id}}" routerLinkActive="active">
                    <div>
                        <picture>
                            <source media="(min-width: 601px)"
                                srcset="../../../assets/images/{{project.urlImage}}_w1600.jpg 2x"
                                srcset="../../../assets/images/{{project.urlImage}}_w800.jpg 1x">
                            <source media="(max-width: 600px)"
                                srcset="../../../assets/images/{{project.urlImage}}_w800.jpg 2x">
                            <img class="projet__image" src="../../../assets/images/{{project.urlImage}}_w800.jpg"
                                alt="image du projet {{project.title}}">
                        </picture>
                    </div>
                </a>
            </div>
        <div drag-scroll-item class="card projet"></div>
        </drag-scroll>
        <div class="sliderProgress">
            <span class="sliderProgress__number sliderProgress__current">0{{currentIndex}}</span>
            <div class="sliderProgress__bar">
                <div class="sliderProgress__bar--fill" [ngStyle]="barStyle"></div>
            </div>
            <span class="sliderProgress__number sliderProgress__last">0{{projects.length}}</span>
        </div>
        <div class="info">
            <h2 class="info__projets">{{data.texts.randomText.projects}}</h2>
            <h3 class="info__titre">{{data.currentProject.shortTitle}}</h3>
            <span class="info__type">{{data.currentProject.type}}</span>
        </div>
    </div>
</section>