//Default ( mobile first )
section{
    min-height: 100vh;
    margin: 0;
}
.sliderProgress{
    display: flex;
    &__number{
       font-size: 20px;
       text-transform: uppercase; 
       display: block;
       margin: 0 5px;
    }
    &__bar{
        background-color: #C9C9C9;
        height: 3px;
        width: 85%;
        margin-top: 5px;
        &--fill{
            background-color: #AB2538;
            height: 100%;
            transition: width .4s ease-in;
        }
    }
}
.drag-scroll-content{
    overflow: hidden !important;
}

//Desktop
@media only screen and (min-width: 600px) { 

    .drag-scroll-content{
        padding: 0 400px;
    }
    .scrolling-wrapper {
        float: right;
        white-space: nowrap;
        box-sizing: border-box;
        padding: 40px 0 40px 0;
        transition: transform 0.6s ease-out;
        width: 85%;
        overflow: visible;
        height: 100vh;
        .card {
          display: inline-block;
          list-style: none;
          padding: 0 100px;
          @media only screen and (min-width: 1640px) {
            padding: 0 11%;
          }
          @media only screen and (min-width: 1840px) {
            padding: 0 13%;
          }
          @media only screen and (min-width: 2040px) {
            padding: 0 16%;
          }
          &:last-of-type{
              margin-right: 140px !important;
          }
        }
    }
    .sliderProgress{
        position: absolute;
        position: absolute;
        width: 50%;
        left: 25%;
        right: 25%;
        margin-top: 525px;
    }
    .info{
        position: absolute;
        margin-top: 200px;
        left: 2%;
        &__projets{
            font-weight: bold;
            font-size: 80px;
            text-transform: uppercase;
            color: #3A3D2B;
            margin: 0;
            &--mobile{
                display: none;
            }
        }
        &__titre{
            font-weight: bold;
            font-size: 35px;
            text-transform: uppercase;
            margin: 0;
        }
        &__type{
            font-weight: normal;
            font-size: 20px;
            margin: 4px 0;
            display: block;
        }
        &__annee{
            display: block;
            font-weight: 500;
            font-size: 60px;
            position: absolute;
            @media only screen and (min-width: 1024px){
                right: 0;
            }
            @media only screen and (min-width: 1224px){
                right: 16%;
            }
            @media only screen and (min-width: 1324px){
                right: 20%;
            }
            @media only screen and (min-width: 1424px){
                right: 25%;
            }
            @media only screen and (min-width: 1524px){
                right: 30%;
            }
            @media only screen and (min-width: 1824px){
                right: 35%;
            }
        }
    }
}

//Specific Mobile style
@media only screen and (max-width: 600px) { 
    section{
        min-height: 60vh;
    }
    .container{
        margin: 10px 0;
        width: 95%;
    }
    .drag-scroll-wrapper{
        width: 100%;
    height: auto !important;
    overflow: hidden;
    }
    .scrolling-wrapper{
        padding: 0;
        height: 245px;
        
        .card {
            list-style: none;
            padding: 0 10px;
          }
    }
    .projet{
        &__image{
            width: 100%;
        }
        & div{
            position: relative;
            margin-top: 35px;
        }
    }
    .info{
        margin: 0 10px;
        &__projets{
            display: none;
            &--mobile{
                display: block;
                text-transform: uppercase;
                color: #3A3D2B;
                font-size: 30px;
                margin-bottom: -44px;
                margin-left: 10px;
            }
        }
        &__annee{
            font-size: 25px;
            font-weight: 400;
            margin-left: 80%;
            margin-top: 18px;
            position: absolute;
            z-index: 300;
            left: 0;
        }
        &__titre{
            margin-bottom: 5px;
        }
        &__type{
            display: block;
            margin-bottom: 18px;
            margin-left: 1px;
        }
        
    }


}