//Default ( mobile first )
.intro{
    margin: 60px 10px 0 10px;
    &__textes{
        margin: 30px 0 40px 0;
    }
    &__img{
        max-width: 100%;
    }
    &__bgGris{
        position: absolute;
        background: #EEEEEE;
        width: 100%;
        height: 35%;
        z-index: -200;
        margin-top: -5%;
        left: 0;
        @media only screen and (min-width: 400px) { 
            height: 38%;
        }
        @media only screen and (min-width: 500px) { 
            height: 48%;
        }
    }
    &__titre{
        font-size: 20px;
        margin-bottom: 0px;
    }
    &__annee{
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
    }
    &__desc{
        line-height: 22px;
        margin: 25px 0 20px 0;
    }
    & ul {
        padding: 0;
    }
    &__categorie{
        list-style: none;
        background: url("../../../assets/images/svg/category.svg");
        background-position: left;
        background-repeat: no-repeat;
        width: 100%;
        height: 15px;
        padding: 2px 0px 0px 23px;
        margin-bottom: 15px;
    }
}

.details{
    &__img{
        width: 93%;
        margin: 0 2%;
        -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.41);
        -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.41);
        box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.41);
    }
    &__text{
        margin: 30px 10px;
    }
    &__title{
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &__subText{
        line-height: 22px;
        margin-top: 10px;
    }
}
.video{
    width: 100%;
}


//Desktop
@media only screen and (min-width: 600px) { 
    .container{
        max-width: 1240px;
        margin: auto;
    }
    .intro{
        margin-top: 140px;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 120px;

        &__titre{
            font-weight: bold;
            font-size: 30px;
        }
        &__textes{
            min-width: 400px;
            width: 40%;
            margin-top: 0;
        }
        &__img{
            max-width: 920px;
            width: 60%;
        }
        &__bgGris{
            height: 70%;
            background-image: url("../../../assets/images/svg/decoFiche.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
        }
    }
    .details{
        &__img{
            -webkit-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.24);
            -moz-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.24);
            box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.24);
        }
    }
    .desc1{
        &__img1{
            width: 100%;
        }
        &__img2{
            width: 100%;
        }
        &__flex{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
        &__flexContenu{
            width: 48%;
        }
    }
    .desc2{
        &__text{
            max-width: 45%;
        }
    }

}

//Specific Mobile style
@media only screen and (max-width: 600px) { 
 

}