<div id="projects" class="container">
    <div class="intro">
        <div class="intro__bgGris"></div>
        <img class="intro__img" src="../../../assets/images/{{dataService.currentProject.urlImage}}_w920.png"
            alt="image d'introduction au projet {{dataService.currentProject.title}}">
        <div class="intro__textes">
            <h2 class="intro__titre">{{dataService.currentProject.title}}</h2>
            <h3 class="intro__annee">{{dataService.currentProject.year}}</h3>
            <p class="intro__desc">{{dataService.currentProject.shortDesc}}</p>
            <ul>
                <li *ngFor="let category of this.dataService.currentProject.category.split(',')"
                    class="intro__categorie">{{category}}</li>
            </ul>
        </div>
    </div>
    <div class="desc1__flex">
        <picture class="desc1__flexContenu">
            <source media="(min-width: 601px)"
                srcset="../../../assets/images/{{dataService.currentProject.urlImage}}1_w1200.jpg 2x"
                srcset="../../../assets/images/{{dataService.currentProject.urlImage}}1_w600.jpg 1x">
            <source media="(max-width: 600px)"
                srcset="../../../assets/images/{{dataService.currentProject.urlImage}}1_w600.jpg 2x">
            <img class="details__img desc1__img1"
                src="../../../assets/images/{{dataService.currentProject.urlImage}}1_w600.jpg"
                alt="image 2 du projet {{dataService.currentProject.title}}">
        </picture>
        <div class="desc1__flexContenu">
            <div class="details__text">
                <h3 class="details__title">{{dataService.currentProject.subTitle1}}</h3>
                <p class="details__subText">{{dataService.currentProject.subText1}}</p>
            </div>
            <picture>
                <source media="(min-width: 601px)"
                    srcset="../../../assets/images/{{dataService.currentProject.urlImage}}2_w1200.jpg 1x"
                    srcset="../../../assets/images/{{dataService.currentProject.urlImage}}2_w600.jpg 1x">
                <source media="(max-width: 600px)"
                    srcset="../../../assets/images/{{dataService.currentProject.urlImage}}2_w600.jpg 2x">
                <img class="details__img desc1__img2"
                    src="../../../assets/images/{{dataService.currentProject.urlImage}}2_w600.jpg"
                    alt="image 3 du projet {{dataService.currentProject.title}}">
            </picture>
        </div>
    </div>

    <div *ngIf="verifyDesc() == true" class="details__text desc2__text">
        <h3 class="details__title">{{dataService.currentProject.subTitle2}}</h3>
        <p class="details__subText">{{dataService.currentProject.subText2}}</p>
    </div>
    <picture *ngIf="verifyDesc() == true">
        <source media="(min-width: 601px)"
            srcset="../../../assets/images/{{dataService.currentProject.urlImage}}3_w1240.jpg">
        <source media="(max-width: 600px)"
            srcset="../../../assets/images/{{dataService.currentProject.urlImage}}3_w600.jpg ">
        <img class="details__img desc2__img1"
            src="../../../assets/images/{{dataService.currentProject.urlImage}}3_w600.jpg" alt="">
    </picture>
    <video *ngIf="verifyVideo() == true" class="video" autoplay loop muted>
        <source src="../../../assets/video/{{dataService.currentProject.urlImage}}.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>