<div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>

<button (click)="modifierLangue()" class="btn_langue">{{ data.langue == "Francais" ? 'English' : 'Francais' }}</button>
<div [ngClass]="bgMenu">
  <div class="menu__container">
    <a routerLink="/" routerLinkActive="active">
      <img class="logo" src="../assets/images/svg/logo.svg" alt="Logo - Andréa Deshaies">
    </a>
    <nav [ngClass]="stateMenu">
      <div [ngClass]="stateMenuItem">
        <div class="nav__item"><a routerLink="." fragment="about"
            routerLinkActive="active">{{data.texts.menu.about}}</a></div>
        <div class="nav__item"><a routerLink="." fragment="projects">{{data.texts.menu.projects}}</a></div>
        <div class="nav__item"><a routerLink="." fragment="contact">{{data.texts.menu.contact}}</a></div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>