//Animation menu
.minimized{
    overflow: hidden;
    backface-visibility: hidden;
}
.nav{
    
    -webkit-transition: all .5s;
    transition: all .5s;
    
    &:hover{
        height: 100% !important;
    }

    &__list{
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s,-webkit-transform .5s;
        
        &:hover{
            transform: translate3d(0px, 0px, 0px) !important;
        }
        &--about{
            transform: translate3d(0px, 0px, 0px);
        }
        &--projects{
            transform: translate3d(0px, -25px, 0px);
        }
        &--contact{
            transform: translate3d(0px, -50px, 0px);
        }
    }
}


.btn_langue{
    background: none;
    border: none;
    text-decoration: underline;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 4000;
}
.logo{
    width: 85px;
    margin-left: -10px;
}
.menu{
    &__background{
        position: sticky;
        top: 0;
        z-index: 200;
        margin: 25px 0 0 0;
        padding: 0 10px;
    
    }
}
.nav{
    float: right;
    &__item{
        & a{
            text-decoration: none;
            color: black;
        }
        font-weight: 400;
        font-size: 16px;
        list-style: none;
        margin: 10px 0;
        text-align: right;
        transition: all 0.2s ease-in-out;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: -5px;
          width: 0px;
          height: 4px;
          margin: 5px 0 0;
          transition: all 0.2s ease-in-out;
          transition-duration: 0.75s;
          opacity: 0;
          background-color: darken(#AB2538,5%);
          right: 0;
        }
        &:hover {
            cursor: pointer;
              &:before,
              &:after {
                width: 100%;
                opacity: 1;
              }
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) { 
    .menu{
        &__container{
            max-width: 1240px;
            margin: auto;
        }
        &__background{
            &--white{
                background: rgba(255, 255, 255, 0.81);
            }
            margin-top: 18px;
        }
    }
    .logo{
        width: 150px;
    }
    .nav{
        &__item{
            font-size: 25px;
        }
    }
    .btn_langue{
        background: none;
        border: none;
        text-decoration: underline;
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 4000;
    }

//Animation menu
.minimized{
    height: 38px !important;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: height .5s;
    transition: height .5s;
}
.nav{
    &:hover{
        height: 100% !important;
    }

    &__list{
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s,-webkit-transform .5s;
        &:hover{
            transform: translate3d(0px, 0px, 0px) !important;
        }
        &--about{
            transform: translate3d(0px, 0px, 0px);
        }
        &--projects{
            transform: translate3d(0px, -35px, 0px);
        }
        &--contact{
            transform: translate3d(0px, -70px, 0px);
        }
    }
}
    
}

//Specific mobile
@media only screen and (max-width: 600px) { 
    .menu{
        &__background{
            &--white{
                background: rgba(255, 255, 255, 0.81);
            }
        }
    }
    .minimized{
        height: 25px !important;
    }


}