<section>
    <img class="about__deco" src="../assets/images/svg/Deco1.svg" alt="">
    <div class="container about">
        <p class="about__greeting">{{data.texts.about.greeting}}</p>
        <div class="bg__intro">
            <p class="about__intro">{{data.texts.about.intro}}</p>
        </div>
        <div class="flex_skills">
            <div class="design__container skills">
                <h3 class="skills__title">{{data.texts.about.skills.title1}}</h3>
                <div class="skills__bg">
                    <p class="skills__desc">{{data.texts.about.skills.desc1}}</p>
                    <span class="skills__keywords">{{data.texts.about.skills.keywords1}}</span>
                </div>
            </div>
            <div class="webdev__container skills">
                <h3 class="skills__title">{{data.texts.about.skills.title2}}</h3>
                <div class="skills__bg">
                    <p class="skills__desc">{{data.texts.about.skills.desc2}}</p>
                    <span class="skills__keywords">{{data.texts.about.skills.keywords2}}</span>
                </div>
            </div>
        </div>
    </div>

</section>