//Default ( mobile first )
section{
    min-height: 100vh;
}
.about{
    &__greeting{
        font-size: 40px;
        color: #3A3D2B;
        font-weight: bold;
        margin-bottom: 5px;
    }
    &__intro{
        font-size: 16px;
    }
    &__deco{
        width: 100vw;
        position: absolute;
        overflow: hidden;
        top: 0;
        z-index: -100;
    }
}
.bg__intro{
    background-color: #EEEEEE;
    padding: 20px 10px 70px 10px;
}
.skills{
    margin: 0 6% 0 6%;
    &__title{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
    }
    &__desc{
        font-weight: 300;
    }
    &__keywords{
        font-weight: 500;
        font-size: 16px;
    }
    &__bg{
        background: #C8DF59;
        padding: 10px 10px 20px 10px;
    }
}


//Desktop
@media only screen and (min-width: 600px) { 
    .container{
        max-width: 1240px;
        margin: auto;
    }
    .about{
        &__greeting{
            font-weight: bold;
            font-size: 70px;
            margin-top: 170px;
        }
        &__intro{
            white-space: pre-line;
            font-weight: 400;
            font-size: 25px;
            min-width: 1000px;
            max-width: 1240px;
            margin: auto;
        }
    }
    .bg__intro{
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 65px 0 165px 0;
    }
    .flex_skills{
        display: flex;
        justify-content: space-between;
        margin-top: -120px;
    }
    .skills{
        max-width: 570px;
        margin: 0;
        transition: all ease .5s;
        &:hover{
            transform: scale(1.05);
        }
        &__title{
            font-weight: bold;
            font-size: 30px;
            position: relative;
        }
        &__desc{
            margin: 20px 25px 10px 25px;
        }
        &__keywords{
            font-weight: 500;
            font-size: 18px;
            margin: 20px 25px 10px 25px;
            display: block;
        }
        &__bg{
            position: relative;
            min-height: 90px;
        }
    }
    
}

//Specific mobile
@media only screen and (max-width: 600px) { 
    .design__container{
        margin-top: -75px;
    }
    section{
        padding-bottom: 65px;
    }


}