//Defaut ( mobile first)

section{
    position: relative;
    min-height: 60vh;
    background-image: url("../../../assets/images/svg/decoContact.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact{
    margin: 0 10px;
    &__greeting{
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 35px;
    }
    &__email{
        font-size: 27px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        margin-bottom: 50px;
        display: block;
        width: 305px;
        transition: all 0.2s ease-in-out;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          width: 0px;
          height: 5px;
          margin: 5px 0 0;
          transition: all 0.2s ease-in-out;
          transition-duration: 0.75s;
          opacity: 0;
          background-color: darken(#AB2538,5%);
          left: 0;
        }
        &:hover {
            cursor: pointer;
              &:before,
              &:after {
                width: 100%;
                opacity: 1;
              }
        }
    }
    &__link{
        display: block;
        text-decoration: none;
        color: black;
        margin: 10px 0;
        background: url("../../../assets/images/svg/link.svg");
        background-position: left;
        background-repeat: no-repeat;
        width: 10px;
        height: 5px;
        padding: 15px 55px 15px 35px;
        transition: all ease 1s;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.footer{
    margin: 0 10px;
    &__conteneur{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &__angular{
        display: flex;
        align-items: center;
        & span{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            color: #5C5C5C;
            display: block;
            margin: 5px 0 0 8px;
        }
        & img{
            width: 25px;
        }
    }
    &__copyright{
        color: #5C5C5C;
        font-size: 12px;
        display: block;
        margin: 12px 0
    }
}

//Desktop
@media only screen and (min-width: 600px) { 
    section{
        padding-top: 150px;
        min-height: 70vh;
    }
    .container{
        max-width: 1240px;
        margin: auto;
    }
    .footer{
        max-width: 1240px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

//Specific mobile
@media only screen and (max-width: 600px) { 
    section{
        margin-top: 150px;
    }



}