<section>
    <div class="container contact">
        <p class="contact__greeting">{{data.texts.contact.greeting}}</p>
        <a class="contact__email" href = {{data.texts.contact.email}}>{{data.texts.contact.emailText}}</a>
        <a class="contact__link" href="{{data.texts.contact.behance}}">Behance</a>
        <a class="contact__link" href="{{data.texts.contact.linkedin}}">LinkedIn</a>
    </div>
    <div class="footer__conteneur">
        <div class="footer">
            <div class="footer__angular">
                <img src="../../../assets/images/svg/angular.svg" alt="Logo angular">
                <span>{{data.texts.footer.angular}}</span>
            </div>
            <span class="footer__copyright">{{data.texts.footer.copyright}}</span>
        </div>
    </div>
</section>
