/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: SpaceGrotesk;
    src: url(./assets/fonts/SpaceGrotesk-Light.ttf) format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: SpaceGrotesk;
    src: url(./assets/fonts/SpaceGrotesk-Regular.ttf) format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: SpaceGrotesk;
    src: url(./assets/fonts/SpaceGrotesk-Medium.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: SpaceGrotesk;
    src: url(./assets/fonts/SpaceGrotesk-SemiBold.ttf) format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: SpaceGrotesk;
    src: url(./assets/fonts/SpaceGrotesk-Bold.ttf) format("truetype");
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
  }

* {
    font-family: SpaceGrotesk;
}
body {
    margin: 0;
}

@media only screen and (min-width: 600px){
   
* {
    cursor: url("./assets/images/svg/cursor.svg") 15 15, auto !important;
}
.drag-scroll-content{
    overflow: hidden !important;
  }
.scrolling-wrapper *{
  cursor: url("./assets/images/svg/cursor2.svg") 13 4, auto !important;
}


    
    .cursor {
        border-radius: 50%;
        position: absolute;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        animation: cursorAnim .5s infinite alternate;
        pointer-events: none;
        z-index: 1000;
      }
      
      .cursor::after {
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        border: 1px solid #AB2538;
        border-radius: 50%;
        opacity: .8;
        z-index: 1000;
        transform: translate3d(-20px, -20px, 0);
        //animation: cursorAnim2 .5s infinite alternate;
      }
      
      
      @keyframes cursorAnim {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(.95);
        }
      }
      
      @keyframes cursorAnim3 {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(2);
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }
      
      
      .expand {
        animation: cursorAnim3 .5s forwards;
      
      }
}
